# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other
.vscode/settings.json
build
*pycache*

#ignore test results
data/Xspr.csv
data/Xsprb.csv
data/Xregistered_python.csv

#ignore python bindings lib
python/examples/spr_py.so